### 1.Fibonacci

In [18]:
def fib(n):
    t=[0,1]
    ls=[]
    
    for i in range(n):
        if n<2:
            ls.append(t[i])
        elif i<2:
            ls.append(t[i])
        else: 
            ls.append(ls[i-1]+ls[i-2])
    print(ls)

In [23]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 2.Print number of substrings starting with vowels and print them

In [131]:
def subs_count(txt):
    vow = 'aeiouAEIOU'
    count = 0
    substrings = []  # To store the substrings
    
    for i, char in enumerate(txt):
        if char in vow:
            count += len(txt) - i
            for j in range(i, len(txt)):  # Extract substrings starting at index i
                substrings.append(txt[i:j+1])  
    print("Total count:", count)
    print("Substrings:", substrings)

# Example usage
subs_count("apple")

Total count: 6
Substrings: ['a', 'ap', 'app', 'appl', 'apple', 'e']

### 3.First non repeating character in a string

In [155]:
tt="netsexztosnetz"
def non_rep(txt):
    d={}
    for i in range(len(txt)):
        if txt[i] not in d.keys():
            d[txt[i]]=1
        else:
            d[txt[i]]+=1
    c=0

    #for key,value in d.items():
     #   if(value==1):
      #      print(key)
       #     break
            
    
    for j in range(len(txt)):
        if(d[txt[j]]==1):
            return txt[j],c
        c=c+1
        
non_rep(tt)

('x', 5)

### 4.check if the two given words are anagram or not

In [21]:
def anagram(txt1, txt2):
    
    if ''.join(sorted(txt1))==''.join(sorted(txt2)):
        print("ANAGRAM")
    else:
        print("NOT AN ANAGRAM")
l1="friendsi"
l2="friednsi"
anagram(l1,l2)

# without using sort
    
def anagram_without_sort(txt1, txt2): 
    d1={}
    d2={}
    
    for char in txt1:
        if char in d1.keys():
            d1[char]=d1.get(char,0)+1
        
    for char in txt2:
        if char in d2.keys():
            d2[char]=d1.get(char,0)+1  
            
    if d1==d2:
        print("ANAGRAM")
    else:
        print("NOT AN ANAGRAM")
        
anagram_without_sort(l1,l2)

ANAGRAM
ANAGRAM

### 3.Check prime or not

In [193]:
def chk_prime(n):
    
    for i in range(2, int(n**(0.5)+1)):
        if n%i == 0:
            return False
    return True

chk_prime(6)

False

### 4.Extract all the numbers in the string and extract them as a list

In [200]:
import re

def extract_num(txt):
    ls=[]
    for i in txt.split():
        if i.isdigit():
        #if not i.isalpha():
            ls.append(i)
    print(ls)
    
t="I am 50 year 50 and hight is 27"
extract_num(t)

['50', '50', '27']

### 5. Find largest and smallest in a list

In [211]:
def small_and_large(ls):
    large=max(ls)
    small=min(ls)
    
    print("Largest is", large, "and smallest is" ,small)
    
ls=[25,26,27,88]

small_and_large(ls)

Largest is 88 and smallest is 25

### 6. Print the number of times the letter occurred

In [54]:
#aaabbccd
#3a2b2b1d

def ntimes(txt):
    
    char1=txt[0]
    output=""
    count=0
    
    for i in txt:
        if i==char1:
            count+=1
        else:
            output=output+str(count)+char1
            count=1
            char1=i
            
    output=output+str(count)+i
    
    print(output)
ntimes("avvvbbbaabbbbaacccddf")

1a3v3b2a4b2a3c2d1f

### 7.Reverse alphabets but digits in same position

In [81]:
#my25name45is
#si25eman45ym


def reverse(txt):
    output=''
    
    alphas=[char for char in txt[::-1] if char.isalpha()]
    i=0
    for char in txt:
        if char.isalpha():
            output+=alphas[i]
            i+=1
        else:
            output+=char
    print(output)
        
reverse("my25na6me45is")

si25em6an45ym

In [ ]:
def anagram_without_sort(txt1, txt2):
    
    d1={}
    d2={}
    
    for char in txt1:
        if char in d1.keys:
            d1[char]=get(char,0)

In [12]:
txt1="listen"
txt2="silent"

d1={}
d2={}

for char in txt1:
    if char in d1.keys():
        d1[char]=d1.get(char,0)+1
    else:
        d1[char]=1
for char in txt2:
    if char in d2.keys():
        d2[char]=d1.get(char,0)+1
    else:
        d2[char]=1

In [13]:
d1

{'l': 1, 'i': 1, 's': 1, 't': 1, 'e': 1, 'n': 1}

In [14]:
d2

{'s': 1, 'i': 1, 'l': 1, 'e': 1, 'n': 1, 't': 1}

In [15]:
d1==d2

True